.footer {
    background: linear-gradient(to right, #01011a, #06062b);
    color: white;
    padding: 1.6rem 1.5rem;
    font-size: 0.95rem;
    text-align: center;
  }
  
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
  }
  
  .footer__left,
  .footer__center,
  .footer__right {
    flex: 1;
    min-width: 150px;
  }
  
  .footer__left a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: block;
    margin-bottom: 1.5rem;
  }
  
  .footer__left a:hover {
    text-decoration: underline;
  }
  
  .footer__logo {
    height: 50px;
    margin-bottom: 0.5rem;
  }
  
  .footer__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  .footer__right {
    text-align: left;
    display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  
  }

  .footer__right p {
       /* відступи зверху та знизу */
    line-height: 1.3;    /* регулює відстань між рядками всередині абзацу */
  }

  .footer__left,
  .footer__right {
  padding-top: 2rem;
}

.footer__contacts {
  text-align: center;
  color: white;
  line-height: 1.8;
  font-size: 0.95rem;
}

.footer__contacts svg {
  vertical-align: middle;
  color: #ffc107; /* або інший колір для іконок */
}

  
  /* Мобільна адаптація */
  @media screen and (max-width: 768px) {
    .footer__container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 0.8rem;
    }
  
    .footer__left,
    .footer__right,
    .footer__center {
      width: 100%;
      margin-bottom: 0.5rem;
    }

    .footer__left,
    .footer__right {
    padding-top: 0rem;
  }

    
  .footer__center img {
    margin-bottom: 0.3rem;
  }

  .footer__left a {
    margin-bottom: 0.3rem; 
  }

  
    .footer__left {
      order: 1;
    }
  
    .footer__right {
      order: 2;
      text-align: center;
    }
  
    .footer__center {
      order: 3;
    }
  }
  